// COLORS
$color-blue-light: #4eb3e3;
$color-yellow-light: #f8cc5d;
$color-grey-dark: #6d7a80;
$color-grey-light: #f8f4f9;
$color-blue-dark: #1f343e;

$color-white: #fff;
$color-black: #000;

// FONT SIZE
$font-size-default: 1.5rem;
$font-size-small: 1.3rem;
$font-size-smallest: 1.1rem;
$font-size-big: 2.5rem;

// MARGIN
$margin-default: 1.5rem;
