.footer__contact {
  background-color: #f8f4f9;
  color: $color-blue-dark;
  @include flexCenter;
  padding: 5rem;

  @include respond(tab-port) {
    flex-direction: column;
    align-items: flex-start;
    padding: 3rem;
  }

  &--hidden {
    display: none;
  }

  &--header {
    letter-spacing: 0.2rem;
    font-size: 1.8rem;

    @include respond(phone) {
      font-size: 1.4rem;
    }
  }

  &--rate-punk {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    min-height: 20rem;
    max-height: fit-content;
    width: 50%;
    margin-left: 5rem;

    @include respond(tab-port) {
      margin-left: 0;
      width: 100%;
      justify-content: center;
      margin-bottom: 3rem;
    }

    @include respond(phone) {
      justify-self: center;
      margin-bottom: 0;
    }

    &--text {
      font-size: $font-size-default;

      @include respond(phone) {
        font-size: $font-size-small;
        & p {
          line-height: 1.8rem;
        }
      }
    }

    &--copyright {
      font-size: $font-size-default;
      color: $color-grey-dark;

      @include respond(tab-port) {
        position: relative;
        bottom: -48rem;
        font-size: $font-size-small;
      }

      @include respond(phone) {
        font-size: $font-size-small;
      }
    }
  }

  &--quick-links {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    height: 20rem;
    width: 25%;
    margin-left: 10rem;

    @include respond(tab-port) {
      margin-left: 0;
      width: 100%;
      justify-content: center;
      margin-bottom: 3rem;
    }

    &--link {
      color: $color-blue-dark;
      text-decoration: none;
      transition: color 0.1s ease;
      font-size: $font-size-default;

      @include respond(tab-port) {
        margin-top: $margin-default;
      }

      @include respond(phone) {
        font-size: $font-size-small;
      }

      &:visited {
        color: $color-blue-dark;
      }

      &:hover {
        color: $color-blue-light;
      }
    }
  }

  &--social-media {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    height: 20rem;
    width: 25%;

    margin-right: 10rem;
    margin-left: 5rem;

    @include respond(tab-port) {
      margin-left: 0;
      justify-content: space-around;
      margin-top: -1rem;
      margin-bottom: 5rem;
    }

    &--container {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;

      &-header {
        margin-bottom: $margin-default;
      }

      &--email {
        display: flex;
        font-size: $font-size-default;
        gap: 1rem;

        @include respond(phone) {
          font-size: $font-size-small;
        }
      }

      &--icons {
        @include flexCenter;
      }
    }

    &--icon {
      background-color: $color-blue-light;
      border: 1px solid $color-black;
      border-radius: 7px;

      @include flexCenter;

      height: 2.5rem;
      width: 2.5rem;

      &:not(:first-child) {
        margin-left: 0.5rem;
      }
    }
  }
}

@include respond(tab-port) {
  .footer__icon {
    margin-bottom: 3rem;
    margin-left: -1rem;
  }
}
