.footer__store {
  background-color: #45565e;
  border-top: 1px solid $color-black;
  border-bottom: 1px solid $color-black;

  @include flexCenter;

  height: 11rem;
  width: 100vw;

  @include respond(phone) {
    height: fit-content;
    flex-direction: column;
  }

  &--container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border: 1px solid $color-blue-dark;
    border-radius: 15px;
    padding: 2.2rem;
    margin-left: $margin-default;

    height: 2rem;
    width: 19rem;

    @include respond(tab-port) {
      width: 65%;
      margin-top: 1.8rem;
      margin-left: 0rem;
      margin-right: 1rem;
    }

    @include respond(phone) {
      margin-left: 0;
    }

    &--icon {
      height: 5rem;
    }

    &--text {
      color: $color-white;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;

      &--paragraph {
        font-size: $font-size-smallest;
      }

      &--headline {
        font-size: $font-size-default;
      }
    }
  }

  &--review {
    color: $color-white;
    @include flexCenter;
    width: 30rem;
    margin-left: $margin-default;

    @include respond(tab-port) {
      margin-top: $margin-default;
      margin-bottom: $margin-default;
    }

    @include respond(phone) {
      & p {
        font-size: $font-size-small;
      }
    }

    &--star {
      margin-left: 0.5rem;
      font-size: $font-size-default;

      @include respond(phone) {
        font-size: $font-size-small;
      }
    }

    &--text {
      margin-left: $margin-default;
      font-size: $font-size-default;
    }
  }
}
