.header {
  background-color: $color-white;
  border-bottom: 1px solid $color-black;

  display: flex;
  justify-content: space-around;
  align-items: center;

  height: 5rem;
  width: 100vw;

  @include respond(phone) {
    justify-content: space-between;
    position: fixed;
  }

  &__icon {
    @include respond(phone) {
      margin-left: 1.6rem;
    }
  }

  &__links {
    &--link {
      color: $color-blue-dark;
      font-size: 1.5rem;
      text-decoration: none;
      transition: color 0.1s ease;

      &:not(:first-child) {
        margin-left: 5.5rem;
      }

      &:visited {
        color: $color-blue-dark;
      }

      &:hover {
        color: $color-blue-light;
      }
    }

    @include respond(phone) {
      display: none;
    }
  }

  &__menu {
    display: none;
    cursor: pointer;

    @include respond(phone) {
      display: block;
      margin-right: 1.6rem;
    }
  }
}
