.main-section {
  &__steps {
    margin-left: 2rem;
    width: 25%;
    height: fit-content;
    padding: 5rem;
    margin-top: 10rem;

    @include respond(tab-port) {
      padding: 1rem;
      width: 100%;
      text-align: center;
      margin-top: 5rem;
    }

    &--container {
      display: flex;
      align-items: center;
      margin-top: -3rem;
      margin-bottom: 9rem;

      @include respond(tab-port) {
        flex-direction: column;
        text-align: center;
      }

      &--steps {
        color: $color-blue-light;
        font-size: 1.2rem;
        margin-bottom: 0.6rem;
        letter-spacing: 0.2rem;
      }

      &--headline {
        color: $color-blue-dark;
        font-size: 2.3rem;
        margin-bottom: 0.6rem;
      }

      &--text {
        color: $color-blue-dark;
        font-size: 1.5rem;

        @include respond(tab-port) {
          font-size: 1.3rem;
        }
      }
    }

    &--steps {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;

      @include respond(tab-port) {
        align-items: center;
      }
    }
  }
}

.invite {
  height: 9rem;
  margin-right: 3rem;
}

.collect-coins {
  height: 9rem;
  margin-left: 3rem;
}

.voucher {
  height: 7rem;
  margin-right: 3rem;
}

@include respond(tab-port) {
  .icon {
    margin: 0;
    margin-bottom: 2rem;
    height: 10rem;
  }

  .order:nth-child(2) {
    order: 1;
  }
  .order:nth-child(1) {
    order: 2;
  }

  .voucher {
    height: 8rem;
  }
}
